<!doctype html>
<html ng-app="almanah">

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='clientside/baselib/angular/angular.js') }}"> </script>
        <script src="{{ url_for('static', filename='clientside/app.js') }}"> </script>

        <div class="container-fluid" ng-controller="Playground">
            <div class="row-fluid">
                <div class="span2">
<!--                    Search: <input ng-model="query">-->
                </div>
                <div class="span10">
                    <h1>Almanah playground</h1>
                    <p>This is a test place for Plast 100 rokiv almanah</p>
                    <!-- <button class="btn btn-success">New event</button> -->

                    <hr>
                    <div>
                        <p>Total number of events: {[ events.length ]}</p>
                        <ul class="events-container thumbnails" when-scrolled="get_events()">
                             <li ng-repeat="event in events | filter:query">
                                <img ng-src="{[ event.image ]}" class="pull-right">
                                <h3>{[ event.title ]}</h3>
                                <p>{[ event.body | truncate ]}</p>
                                <p><small>{[ event.link ]}</small></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</html>
